
<div class="spacing">
  <div class="errors">
    <%= @user.errors.full_messages if @user.errors.any? %>
  </div>
  <form action="/equations/new" method="post">
    <input type="text" name="eqn[latex_string]" placeholder="Latex_string">
    <input type="text" name="eqn[label]" placeholder="Equation label">
    <br>
    <textarea name="eqn[description]">Describe your equation</textarea>
    <br>
    <input type="checkbox" name="eqn[private]" value="true"> private library only.
    <br><br>
    <left><input type="submit" value="submit new equation!"></left>

  </form>
</div>
